h1 {
  width: 90%;
  height: auto;
  margin: 0 auto;
  font-size: 12vw;
  text-align: center;
}

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 3%;
  grid-row-gap: 5%;
  text-align: center;
}

.container div:hover {
  background-color: red;
  color: black;
}

.main {
  margin: 0 auto;
  width: 90%;
  height: auto;
  display: grid;
  grid-template-rows: 55% 40%;
  grid-row-gap: 2.5%
}

.main img {
  width: 50%;
}
